body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #4B4F4A;
}

/* CSS Tricks, responsive fonts ---> https://css-tricks.com/viewport-sized-typography/ */
/*
h1 {
  font-size: 3.9vw;
  font-weight: 300;
  color: #4B4F4A;
  padding-top: 30px;
  display: inline-block;
}
h2 {
  font-size: 3.0vh;
}
p {
  font-size: 2vmin;
}
*/


.container {
	width: 100%;
<<<<<<< HEAD
	max-width: 100%;
=======
	max-width: 1100px;
>>>>>>> c3bd0003eba9000354d8389d76b1f1c3215869b0
}

#top {
	background-color: #FFF;
	padding-bottom: 30px;
}
#mid {
    padding-top: 20px;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
}
#logo {
	opacity: 0.5;
	width:	15%;
	min-width: 100px;
	max-width: 300px;
	margin-right: 20px;
}
#brands {
    background-color: rgba(128, 128, 128, 0.33);
    height: 120px;
    margin-top: 0px;
    display: block;
    margin: auto;
}
#brag {
    margin-left: 190px;
    margin-top: 0;
    width: 70%;
}


/* FROM EPIDEMIC SOUNDS CSS - Section-2 both pages */


#steps {
	max-width: 100%;
	height: auto;
	max-height: 400px;
	padding: 2%;

}
/*#steps {  
    width: 40%;
    min-width: 200px;
    max-width: 600px;
    margin-left: 250px;
    margin-top: 48px;
    margin-bottom: 50px;
    position: absolute;
*/

}
.textbox {
	margin-top: 30px;
	max-width: 900px;
}

.input-group {
	margin-left: -2px;
    max-width: 500px;
    padding-top: 30px;
}

.form-control {
	height: 50px;
}

.input-group-addon {
	background-color: #2BBD66;
    color: #FFF;
}

#terms {
	background-color: rgb(248, 247, 242);
	color: #CC0000;
	max-height: 100%;
	padding: 5%;


}

#videos{
	background-color: #FFF;
	min-height: 300px;
	margin-bottom: 30px;

}

.videoWrapper {
	margin-left: 0px;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0px;
	height: 0;
	bottom: 0;
	margin-top: 30px;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


h1 {
	
	font-size: 1.7em;
	font-weight: 300;
	color: #4B4F4A;
	padding-top: 30px;
	display: inline-block;
}

h2 {
	font-size: 2em;
}


p {
	font-size: 1.2em;
	font-weight: 300;
}

@media (max-width: 991px) {
	.videoWrapper {
		margin-left: 0px;
	}

